<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Primary title
      </h1>
      <h2 class="subtitle">
        Primary subtitle
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title"></h1>
    <h2 class="subtitle">
      <%= column_chart @graphic %>
    </h2>
  </div>
</section>
